# Node modules
node_modules/

# Logs
logs
*.log

# dotenv files
.env

# system files
.DS_Store
Thumbs.db

#src/config/config.json
src/config/config.json

#src/database/sequelizeConnection.js
src/database/sequelizeConnection.js

#src\database\sqlServerConnection.js
src/database/sqlServerConnection.js

# .gitignore
.gitignore

package-lock.json
package.json