# Node modules
node_modules/

# Logs
logs
*.log

# dotenv files
.env

# system files
.DS_Store
Thumbs.db

#src/config/config.json

#src/database/sequelizeConnection.js
*.json
src/database/sqlServerConnection.js
src/database/sequelizeConnection.js
src/config/config.json
